<div class="main-content">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card">
        <div class="card-header card-header-danger">
          <h4  class="card-title">Change Password</h4>
          </div>
      <div class="card-body">
        <div class="row mb50">
          <div class="col-md-12">
            <div class="border_box border_none">
              <form #myForm="ngForm" (ngSubmit)="onSave(myForm)">
                <div class="row">
                  <div class="col-md-12 textbox-full-width textbox-full-width-pb20">
                    <mat-form-field>
                      <mat-label>Old Password</mat-label>
                      <input matInput type="password" required name="oldPassword" #oldPassword="ngModel"
                        [(ngModel)]="user.oldPassword">
                    </mat-form-field>
                    <mat-error *ngIf="oldPassword.touched && oldPassword.invalid">
                      Old Password is required
                      </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 textbox-full-width textbox-full-width-pb20">
                    <mat-form-field>
                      <mat-label>New Password</mat-label>
                      <input matInput type="password" [(ngModel)]="user.password" #psw="ngModel" id="psw" name="psw"
                      (blur)="user.password = sharedService.trimming_function(user.password)"
                        required>
                    </mat-form-field>
                    <mat-error *ngIf="psw.touched && psw.invalid">
                        Password is required
                      </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 textbox-full-width">
                    <mat-form-field>
                      <mat-label>Confirm Password</mat-label>
                      <input matInput type="password" required name="confirmPassword" #confirmPassword="ngModel"
                        [(ngModel)]="user.confirmPassword" (blur)="user.confirmPassword = sharedService.trimming_function(user.confirmPassword)">
                    </mat-form-field>
                    <mat-error class="change_pass_error">
                      <span
                        *ngIf="confirmPassword.errors?.required  && confirmPassword.touched && confirmPassword.invalid">
                        Confirm Password is required
                      </span>
                      <span *ngIf="user.confirmPassword != user.password &&
                       confirmPassword.dirty && user.confirmPassword != ''">
                        New Password and Confirm Password must be same</span>
                    </mat-error>
                  </div>
                </div>
                <div class="row mt20">
                  <div class="col-md-12 text-right">
                    <button type="submit"
                      [ngClass]="(myForm.invalid || user.password != user.confirmPassword) ? 'btn btn-info disable-btn disable' : 'btn btn-info add-btn'"
                      [disabled]="myForm.invalid || user.password !== user.confirmPassword" class="mr-2">Save</button>
                    <button type="button" class="btn btn-danger btn_d_consist ml15" (click)="onCancel()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>