.image-upload-box{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px dotted #ddd;
}

.file-upload-btn {
    position: relative;
    overflow: hidden;
    width: 100%;
   
    input {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
      }
  }
  ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.custom-dropzone {
  height: 250px;
  width: 100%;
	//background: #333;
	//color: #fff;
	//border: 5px dashed rgb(235, 79, 79);
	border-radius: 5px;
	font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}