app-file-upload-progressbar-box {
    position:fixed;
    overflow-y:auto;
    overflow-x:hidden;
    max-height: 500px;
    bottom: 0;
    right: 10px;
    width: 500px;
    //border: black 1px solid;
    box-shadow: -5px 5px 5px grey;
  }
  