.dropzone {
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  position: relative;
}
.dropzone p{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  margin-bottom: 0;
}
.active{
  border: blue solid 2px;
}

.disactive{
  border: grey dashed 1px;
}
.main_contents {
  margin: 25px 0px 0px;
}
app-file-upload-progressbar-box {
  position:fixed;
  overflow-y:auto;
  overflow-x:hidden;
  max-height: 500px;
  bottom: 0;
  right: 10px;
  width: 500px;
  border: black 1px solid;
  box-shadow: -5px 5px 5px grey;
}
