<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button [routerLink]="['/gallery/add-gallery']">Add Gallery Images</button>
                <div class="col-md-4 pull-right pb-4 mb-5"></div>
            </div>
            <div class="card">

                <div class="card-header card-header-danger">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="card-title">Gallery List</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 py-4">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-4">
                            <mat-card>
                                <img class="mb-0" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="img">

                                <mat-card-actions class="text-center">
                                    <b>Image Label</b>
                                    <p>The Shiba Inu is the smallest.</p>
                                    <button mat-icon-button mat-stroked-button class="mr-2"><mat-icon aria-hidden="false" >edit</mat-icon></button>
                                    <button mat-icon-button mat-stroked-button color="warn"><mat-icon aria-hidden="false" >delete</mat-icon></button>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-4">
                            <mat-card>
                                <img class="mb-0" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="img">

                                <mat-card-actions class="text-center">
                                    <b>Image Label</b>
                                    <p>The Shiba Inu is the smallest.</p>
                                    <button mat-icon-button mat-stroked-button class="mr-2"><mat-icon aria-hidden="false" >edit</mat-icon></button>
                                    <button mat-icon-button mat-stroked-button color="warn"><mat-icon aria-hidden="false" >delete</mat-icon></button>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-4">
                            <mat-card>
                                <img class="mb-0" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="img">

                                <mat-card-actions class="text-center">
                                    <b>Image Label</b>
                                    <p>The Shiba Inu is the smallest.</p>
                                    <button mat-icon-button mat-stroked-button class="mr-2"><mat-icon aria-hidden="false" >edit</mat-icon></button>
                                    <button mat-icon-button mat-stroked-button color="warn"><mat-icon aria-hidden="false" >delete</mat-icon></button>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-4">
                            <mat-card>
                                <img class="mb-0" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="img">

                                <mat-card-actions class="text-center">
                                    <b>Image Label</b>
                                    <p>The Shiba Inu is the smallest.</p>
                                    <button mat-icon-button mat-stroked-button class="mr-2"><mat-icon aria-hidden="false" >edit</mat-icon></button>
                                    <button mat-icon-button mat-stroked-button color="warn"><mat-icon aria-hidden="false" >delete</mat-icon></button>
                                </mat-card-actions>
                            </mat-card>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-4">
                          <mat-card>
                              <img class="mb-0" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="img">

                              <mat-card-actions class="text-center">
                                  <b>Image Label</b>
                                  <p>The Shiba Inu is the smallest.</p>
                                  <button mat-icon-button mat-stroked-button class="mr-2"><mat-icon aria-hidden="false" >edit</mat-icon></button>
                                  <button mat-icon-button mat-stroked-button color="warn"><mat-icon aria-hidden="false" >delete</mat-icon></button>
                              </mat-card-actions>
                          </mat-card>
                      </div>

                      <div class="col-lg-3 col-md-3 col-sm-4 col-12 mb-4">
                        <mat-card>
                            <img class="mb-0" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="img">

                            <mat-card-actions class="text-center">
                                <b>Image Label</b>
                                <p>The Shiba Inu is the smallest.</p>
                                <button mat-icon-button mat-stroked-button class="mr-2"><mat-icon aria-hidden="false" >edit</mat-icon></button>
                                <button mat-icon-button mat-stroked-button color="warn"><mat-icon aria-hidden="false" >delete</mat-icon></button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    </div>


                </div>


            </div>

        </div>
    </div>
</div>