<div class="page-header login-page header-filter middle_content" filter-color="black">
  <div class="container">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="mt15" #myForm="ngForm" (ngSubmit)="submitForgotPassword(myForm)">
          <span class="login100-form-logo">
            <img class="logo" src="assets/img/logo.png">
          </span>
          <h2 class="text-center pb-3"><strong>Forgot Password</strong></h2>
          <div class="textbox-full-width textbox-full-width-pb20">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput id="email" required [pattern]="emailPattern" name="email"
                #email="ngModel" [(ngModel)]="admin.email">
            </mat-form-field>
            <div *ngIf="(email.dirty || email.touched) && email.invalid">
              <mat-error class="text-left" *ngIf="email.errors.required">
                Email is required
              </mat-error>
              <mat-error class="text-left" *ngIf="email.errors.pattern">
                Invalid Email
              </mat-error>
            </div>
          </div>
          <div class="container-login100-form-btn">
            <button type="submit" [disabled]="myForm.invalid"
              [ngClass]="myForm.invalid ? 'btn btn-info disable-btn disable' : 'btn btn-info'" data-toggle="modal"
              data-target="#ideal_profile">Submit</button>
            <a href="javascript:void(0)" routerLink="/login" class="btn btn-danger">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
