<div class="logo">
    <img src="assets/img/logo.png" />
</div>
<div class="sidebar-wrapper">
    <div class="" *ngIf=sideMenu>
        <h4 class="back-btn" (click)="backButton()">
            <i class="material-icons">
                keyboard_arrow_left
            </i>{{Projectname}}</h4>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <!-- <a class="nav-link" [routerLink]="[menuItem.path]"> -->
            <a class="nav-link" [routerLink]="[menuItem.path]" *ngIf="displayItems.includes(menuItem.title)">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li *ngIf=subMenu>
            <a class="nav-link collapsed" data-toggle="collapse" href="#pagesExamples" aria-expanded="false">
                <i class="material-icons">image</i>
                <p> Images
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="pagesExamples" >
                <ul class="nav">
                    <li routerLinkActive="active"  class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center" [routerLink]="['/images']">
                            <i class="material-icons">image</i>
                            <p class="sidebar-normal"> Gallery </p>
                        </a>
                    </li>
                    <li routerLinkActive="active"  class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center"  [routerLink]="['/damage-detection']">
                            <i class="material-icons">image</i>
                            <p class="sidebar-normal"> Detection</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/edit-profile']">My Account</a>
                    <a class="dropdown-item" [routerLink]="['/change-password']">Change Password</a>
                    <a class="dropdown-item" href="javascript:void(0)" id="logoutID" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</div>